@import '../../../assets/styles/mixins';

.thead {

    background-color: rgb(48, 41, 41);
    box-shadow: 0 0 2px 1px rgb(48, 41, 41) ;
    display: grid;
    grid-template-columns: repeat(6, 160px);
    border-radius: spacing(1);
    color: white;
    
    .th {
        padding: spacing(3,4);
        // border: 1px solid red;
    }
    .chevron {
        width: 15px;
        transform: rotate(90deg);
        margin-left: spacing(1.5);
        transition: transform 0.2s ease-in;
    }
    .chevronActive {
        transform: rotate(270deg);   
     
    }
}
